# dependencies
node_modules/

# bun
.bun/
bun.lockb

# build outputs
dist/
build/
coverage/
.next/
**.tgz

# typescript
*.tsbuildinfo

# environment
.env
.env.*
!.env.example

# misc
.DS_Store

# Turborepo
.turbo
