---
import { HomeSplash } from "../components/HomeSplash";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="mock-extended" description="mock-extended docs home" bodyClass="home-body">
  <main class="home-main">
    <HomeSplash />
  </main>
</BaseLayout>
